<!DOCTYPE html>
<html>
<head>
    <title>Chat with Text</title>
</head>
<body>
    <h1>Chat with Your Text using Gemini💁</h1>

    <form method="post">
        {% csrf_token %}
        <textarea name="text" rows="10" cols="30" placeholder="Paste your text here"></textarea><br>
        <button type="submit">Submit & Process</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="question" placeholder="Ask a Question about the Text" /><br>
        <button type="submit">Ask</button>
    </form>

    {% if response %}
        <h2>Reply:</h2>
        <p>{{ response }}</p>
    {% endif %}
</body>
</html>
